services:
  - type: web
    name: bulk-email-backend
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn app.main:app --host 0.0.0.0 --port $PORT
    envVars:
  - key: MONGO_URI
    sync: false
  - key: RESEND_API_KEY
    sync: false
  - key: FROM_EMAIL
    sync: false
